body{
	background-color: #f5f5f5;
}
li{
	display: block;
	list-style: none;
}
a{
 	text-decoration: none;
}
a:link{
 
}
a:visited{
	color: lightblue;
}
a:hover{
	background-color: purple;
  	border-style: solid;
}
a:focus{
 
}
button{	
	width: 100%;
	margin: 0;	
  	font-family: source sans Pro Regular;
  	font-size: 3.5rem;
  	color: white;
  	padding: 20px 10px;
  	border: none;
  	background-color: #3e3639; 
  	transition: background .25s ease-in-out;
}
button:hover{
  color: #09477e;
  background-color: #d5edfb;
}
header{
	display: flex;
	font-size: 2em;
	padding: 50px;
	text-align: center; 
	font-family: source sans Pro Regular;
	font-weight: bold;
	justify-content: space-around;
}
header span{
	
}
article{
	padding: 50px 200px 50px 200px;
	background-color: white;
	/*Bron:https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow*/
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	margin:auto;	
}
p{
	font-family: source sans Pro Regular, sans-serif;
	font-size: 1em;
}
h1{
	font-family: source sans Pro Regular, sans-serif;
	font-size: 2rem;
}
figure{
	border-radius:10px;
	margin:0px;
	padding: 0px;
	height: 300px;
	width: 100%;
	background-image: url("img/achtergrond.jpg");
	object-fit: fill;
}
.navBoven{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-evenly;
	background-color: white;
}
input[type="submit"]{
	font-family: source sans Pro Regular;
  color: #09477e;
  padding: 20px 10px;
  border: none;
  background-color: #f5f4f4; 
  transition: background .25s ease-in-out;
}
input[type="submit"]:hover{
	color: #09477e;
  	background-color: #d5edfb;
}
input[type="search"]{
	font-family: source sans Pro Regular;
  	background-color: white;
  	color: white;
}
input[type="search"]:hover{
  background-color: red;
}
label{
	font-family: source sans Pro Regular;
  	font-size: 2em;
  	color: #09477e;
  	border: none;
  	background-color: #f5f4f4; 
  	transition: background .25s ease-in-out;
  	justify-content: baseline;
}
:checked + span{
	font-weight: bold;
}
label:hover{
  color: #09477e;
  background-color: #d5edfb;
}
.navBeschrijving{
	font-weight: bold;
}
#BewaarKnop{
	justify-content: flex-end;
}
#zoekBalk{
	display: none;
}
#sideBarMenu{
	font-family: sourcs sans Pro Regular;

}
#zoekKnop{
	background-color: #e52231;
	height: 50px;
	width: 50px;
	border-radius: 50px;
}
#terugTop{
	width: 100%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
