body{
	background-color: #f5f5f5;
}
li{
	list-style: none;
}
a{
 	text-decoration: none;
}
a:link{
  background-color
}
a:visited{
	color: lightblue;
}
a:hover{
	background-color: purple;
  	border-style: solid;
}
a:focus{
  color: red; 
  font-size: 2em;
}
button{
  font-familly: sans-serif;
  color: #09477e;
  padding: 20px 10px;
  border: none;
  background-color: #f5f4f4; 
  transition: background .25s ease-in-out;
}
button:hover{
  color: #09477e;
  background-color: #d5edfb;
}
header{
	font-weight: bold;
	font-size: 2em;
}
input{
  font-familly: sans-serif;
  color: blue;
  padding: 10px;
  border:none;
}
input:hover{
  background-color: black;
  color: red;
  transition: background .25s ease;
}
figure{
	max-height: 500px;
	max-width: 300px; 
	padding: 200px 150px;
	background-color: white;
	/*Bron:https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow*/
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	margin:auto;
}
article{
	font-family: source sans Pro Regular;
	font-size: 16px;
}
li{
	float: left;
	display: inline;
}
h1{
	font-family: Open Sans;
	font-size: 32px;
}
[type="search"]{
  background-color: hotpink;
  color: white;
}
[type="search"]:hover{
  background-color: red;
}

.navBoven{
clear: both;
position: fixed;
width: 85%;
background-color: #78AB46;
top: 5px;
}
.filtersAp{
	display:none;
}
.navBeschrijving{
	font-weight: bold;
}

	